NODE_ENV = "Your node environment"

PORT = "Your port"
DATABASE_URL= "Your Database String"

FRONTEND_URL = "Your frontend url"

BCRYPT_SALT_ROUND = "Bcrypt salt round as number"

JWT_ACCESS_TOKEN_SECRET = "Your secret"
JWT_ACCESS_TOKEN_EXPIRE_IN = "Provide duration like 1h, 1d",
JWT_REFRESH_TOKEN_SECRET = "Your secret"
JWT_REFRESH_TOKEN_EXPIRE_IN = "Provide duration like 1d, 1M,"